<footer class="bg-gray-900 text-gray-400 py-12">
    <div class="hidden md:flex items-center space-x-8">
        <a href="{{ url('contact') }}" class="max-w-7xl mx-auto px-6 text-center footer-position">Nous contacter</a>
    </div>
    <div class="max-w-7xl mx-auto px-6 text-center">
        <p>&copy; 2026 SchoolShare - Plateforme de partage de documents scolaires</p>
    </div>
</footer>
