.hero-bg {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('https://source.unsplash.com/random/1920x1080/?students,school') center/cover no-repeat;
}


.a-nav-active{
    text-decoration: underline;
    text-underline-offset: auto;
    text-underline-position: under;
}


body {
    background-color: skyblue;
}

.footer-position{
    position: relative;
    top: -20px;
}

.footer-position:hover{
    font-weight: bold;
}


/* Style du bouton du lien RETOUR */
.btn-retour {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-retour:hover {
    color: #1e40af;
    transform: translateX(-4px);
}

.btn-retour::before {
    content: "←";
    font-size: 1.4em;
    transition: transform 0.3s ease;
}

.btn-retour:hover::before {
    transform: translateX(-4px);
}
