.document-form-edit-category-bloc{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.document-form-add-long-text{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

.document-form-add-long-text > div > textarea {
    width: 100%; /* Ou une largeur fixe comme 300px */
    height: 150px;
    resize: none; /* Empêche l'utilisateur de changer la taille */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la hauteur/largeur */
    padding: 10px;
    font-family: monospace; /* Police à espacement fixe recommandée */
}

.document-add-grid-3x1{
    display: grid;
    /* 3 colonnes de largeur égale (1fr chacune) */
    grid-template-columns: repeat(3, 1fr);
    /* 2 lignes de hauteur égale (1fr chacune) */
    grid-template-rows: repeat(2, 1fr);
    /* Optionnel : espace entre les cellules */
    gap: 10px;
}


/** CSS notes du document **/
.rating-stars {
     color: #ffc107;
     font-size: 1.5rem;
 }
.rating-stars .empty {
    color: #ddd;
}
.rating-stars .half {
    color: #ffc107;
    position: relative;
}
.rating-value {
    font-size: 1rem;
    color: #666;
    margin-left: 8px;
}

.show-note-document{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.show-nb-notes-document{
    display: flex;
    flex-direction: column;
}

#note-text-comment {
    min-width: 400px;
}

#block-form-note{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.note-all-container {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

