{% macro stars(rating, max = 5) %}
    <div class="rating-stars">
        {% for i in 1..max %}
            {% if i <= rating %}
                <span class="star full">★</span>
            {% elseif i - rating < 1 and i - rating > 0 %}
                <span class="star half">★</span>
            {% else %}
                <span class="star empty">★</span>
            {% endif %}
        {% endfor %}
        <span class="rating-value">({{ rating|number_format(1) }})</span>
    </div>
{% endmacro %}
