<div class="pdf-container">
    <embed src="{{ asset('uploads/documents/' ~ document.file) }}#toolbar=1&navpanes=0"
           type="application/pdf"
           width="100%"
           height="750px"
           class="rounded">
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf_viewer.min.css">
